* { 
    margin: 0; 
    padding: 0; 
}

#storeHeader {
    max-height: fit-content;
    background-color: lightseagreen;
    text-align: center;
    color: darkslategray;
    text-shadow: -1px 1px lightgray;
    padding-top: 2px;
    padding-bottom: 2px;
}

.itemTable {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    max-width: 85em;
    width: 65%;
    height: 100em;
}

.item {
    width: 30%;
    min-width: 20em;
    max-width: 40em;
    height: fit-content;
    margin: 10px;
    background-color: rgb(97, 202, 197);
    padding: 8px;
    text-shadow: -1px 1px lightgray;
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 18em;
    box-shadow: -4px 4px rgb(78, 78, 78);
    display: block;
    margin: auto;
}