* { 
    margin: 0; 
    padding: 0; 
}

h3, p {
    margin: 5px;
}

#header {
    max-height: fit-content;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 20px;
    background-color: cadetblue;
    color: white;
    text-align: center;
    text-shadow: -1px 1px black;
}

#menuBar {
    max-height: fit-content;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 20px;
    background-color: cadetblue;
}

#formHolder {
    max-height: fit-content;
    max-width: fit-content;
    padding: 10px;
    margin: auto;
    border: 1px solid cadetblue;
}

.comment {
    padding: 5px;
    margin: 5px;
    border: 1px solid cadetblue;
}
