* { 
    margin: 0; 
    padding: 0; 
}

#header {
    max-height: fit-content;
    background-color: lightseagreen;
    text-align: center;
    color: darkslategray;
    text-shadow: -1px 1px lightgray;
    padding-top: 2px;
    padding-bottom: 2px;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.picLink { 
    max-width: 16em;
    max-height: 24em;
    flex-direction: column;
    background-color: lightseagreen;
    color: black;
    text-shadow: -1px 1px lightgray;
}

img {
    max-width: 100%;
}